.lol {
    margin-left: 100px;
}

.apple {
    color: #A9A9A9;
    margin-left: 20px;
}

.reg_fields {
    margin-left: 100px;
    width: 600px;
}

.first_tr {
    background-color: #C0C0C0;
}

.kayota {
    margin-left: 100px;
}

.colorik {
    padding-left: 130px;
}

.photik {
    padding-left: 130px;
}

